/* General styles */
* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}

html {
    font-family: 'Spirax', cursive;
}


.header {
    background-color: RGB(119, 105, 44);
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: RGB(119, 105, 44);
    color: #ffffff;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    box-shadow: 10px 10px 5px grey;
}

.menu li:hover {
    background-color: RGB(222, 209, 157);
    box-shadow: 10px 10px 5px orange;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
}

.menu li a:hover {
    color: hotpink;
}

.menu li a:active {
    color: blue;
}


.aside {
    background-color: RGB(119, 105, 44);
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    text-align: left;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    box-shadow: 10px 10px 5px grey;
}

.footer {
    background-color: RGB(119, 105, 44);
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

.col-6 {
    width: 50%;
}

/* Media queries */
@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

/* Link styles */
a:link {
    color: white;
    text-decoration: none;

}

a:visited {
    color: green;
    text-decoration: none;

}

a:hover {
    color: hotpink;
    text-decoration: none;

}

a:active {
    color: blue;
    text-decoration: none;

}


.large-font {
    font-size: 24px;
    font-weight: bold;

}

/* ADING SHADWO TO IMAGE  */
.varjo {
    box-shadow: 10px 10px 5px grey;
}